<section
  class="flex flex-col justify-center items-center bg-[#082A3D] py-9 min-h-screen overlay"
>
  <div
    class="bg-[#0E2431] mx-4 md:mx-32 p-8 md:p-20 border rounded-2xl max-w-full font-bold text-[#FFFFFF] text-center text-lg"
  >
    <h1 class="mb-8">My Tickets</h1>

    @if(allTickets) {
    <h3 class="my-4 text-start">Information of ticket</h3>

    @for (tickets of allTickets; track $index) {

    <p-table
      styleClass="h-fit mb-7"
      tableStyleClass="w-[15rem] md:w-[30rem] lg:w-[45rem] mx-auto rounded-md bg-[#F5F5F5]/70"
      responsiveLayout="scroll"
      [value]="tickets?.tickets"
      [scrollable]="true"
      scrollHeight="flex"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Type of Ticket</th>
          <th>Date</th>

          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-oneTicket>
        <tr *ngIf="oneTicket.quantity">
          <td>{{ oneTicket.ticketType }}</td>
          <td>{{ tickets.date | date }}</td>
          <td>{{ oneTicket.price }} S.R</td>
          <td>{{ oneTicket.quantity }}</td>
          <td>{{ oneTicket.price * oneTicket.quantity }} S.R</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        <div class="flex justify-end items-center">
          Total Price is {{ tickets?.totalPrice }} S.R.
        </div>

        @if(!tickets.payed ) {

        <button
          (click)="payForTickets(tickets, $event)"
          class="flex justify-center items-center gap-2 bg-[#2a42e0] hover:bg-[#1e2b5f] disabled:bg-[#1e2b5f] mt-4 px-4 py-2 rounded-md text-[#FFFFFF] disabled:cursor-not-allowed"
        >
          Pay Now
        </button>
        } @else {

        <h2>
          Your Ticket id:
          <span class="text-[#082A3D]">{{ tickets?.hashedTickets }}</span>
        </h2>
        }
      </ng-template>
    </p-table>

    } } @else {
    <div class="bg-[#0E2431] my-3 rounded-2xl text-center">
      <p>No tickets found</p>
    </div>
    }
  </div>
</section>

<app-footer-contact />

<p-toast></p-toast>
