<nav class="bg-[#082A3D] sticky top-0 z-[100]">
  <div
    class="relative flex items-center justify-between px-2 mx-auto max-w-7xl sm:px-6 lg:px-8"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center flex-1 xl:justify-start">
        <div class="flex items-center">
          <div
            class="flex items-center flex-shrink-0 cursor-pointer"
            routerLink="/"
          >
            <img
              class="block w-auto h-24"
              src="assets/logo.png"
              alt="Your Company"
            />
          </div>
          <div class="hidden my-auto ml-9 xl:block">
            <div class="flex space-x-2">
              @for (navLink of navLinks; track $index) {
              <a
                [routerLink]="['/', navLink.path]"
                routerLinkActive="bg-gray-900"
                class="px-3 py-2 font-medium rounded-md hover:bg-gray-700"
                [ngClass]="{
                  'text-gray-300': isMobileMenu,
                  'text-white': !isMobileMenu
                }"
                aria-current="page"
                >{{ navLink.label }}</a
              >
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden gap-3 mr-12 md:flex">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" placeholder="Search" pInputText />
      </span>

      @if(currentUser){
      <div class="flex items-center">
        <button
          (click)="logout()"
          class="px-4 py-2 font-bold text-white bg-red-600 rounded focus:outline-none focus:shadow-outline"
        >
          Log Out
        </button>
      </div>
      } @else {

      <div class="flex items-center bg-gray-400 rounded-md">
        <button
          routerLink="/login"
          class="py-2 pl-4 font-bold text-white rounded focus:outline-none focus:shadow-outline"
        >
          Log In
        </button>
        <span class="mx-2 text-white">/</span>
        <button
          routerLink="/register"
          class="py-2 pr-4 font-bold text-white rounded focus:outline-none focus:shadow-outline"
        >
          Sign Up
        </button>
      </div>

      }
    </div>

    <div class="absolute inset-y-0 flex items-center right-3 xl:hidden">
      <!-- Mobile menu button-->
      <button
        type="button"
        (click)="toggleMobileMenu()"
        class="inline-flex items-center justify-center p-2 text-gray-400 rounded-md hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        aria-controls="mobile-menu"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>

        @if(isMobileMenu){
        <!--
          Icon when menu is open.

          Menu open: "block", Menu closed: "hidden"
        -->
        <svg
          class="block w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
        } @else {

        <!--
          Icon when menu is closed.

          Menu open: "hidden", Menu closed: "block"
        -->

        <svg
          class="block w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
        }
      </button>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->

  @if(isMobileMenu){
  <div class="border-b-2 xl:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      @for (navLink of navLinks; track $index) {
      <a
        [routerLink]="['', navLink.path]"
        routerLinkActive="bg-gray-900"
        (click)="closeMenu()"
        class="block px-3 py-2 text-base font-medium rounded-md hover:bg-gray-700 hover:text-white"
        [ngClass]="{
          'text-gray-300': isMobileMenu,
          'text-white': !isMobileMenu
        }"
        aria-current="page"
        >{{ navLink.label }}</a
      >
      }
    </div>

    <div class="flex gap-3 px-3 py-2 pb-5 md:hidden">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" placeholder="Search" pInputText />
      </span>

      @if(currentUser){
      <div class="flex items-center">
        <button
          (click)="logout()"
          class="px-4 py-2 font-bold text-white bg-red-600 rounded focus:outline-none focus:shadow-outline"
        >
          Log Out
        </button>
      </div>
      } @else {

      <div class="flex items-center bg-gray-400 rounded-md">
        <button
          routerLink="/login"
          class="py-2 pl-4 font-bold text-white rounded focus:outline-none focus:shadow-outline"
        >
          Log In
        </button>
        <span class="mx-2 text-white">/</span>
        <button
          routerLink="/register"
          class="py-2 pr-4 font-bold text-white rounded focus:outline-none focus:shadow-outline"
        >
          Sign Up
        </button>
      </div>
      }
    </div>
  </div>
  }
</nav>

<p-toast></p-toast>
