<nav class="bg-[#082A3D] sticky top-0 z-30" id="mobile-menu">
  <div
    class="mx-auto relative max-w-7xl flex justify-between items-center px-2 sm:px-6 lg:px-8"
  >
    <div class="flex items-center justify-between">
      <div class="flex flex-1 items-center xl:justify-start">
        <div class="flex items-center">
          <div
            class="flex flex-shrink-0 items-center cursor-pointer"
            routerLink="/"
          >
            <img
              class="block h-24 w-auto"
              src="assets/logo.png"
              alt="Your Company"
            />
          </div>
          <div class="hidden ml-9 my-auto xl:block">
            <div class="flex space-x-2">
              @for (navLink of navLinks; track $index) {
              <a
                [routerLink]="['/', navLink.path]"
                routerLinkActive="bg-gray-900"
                class="rounded-md px-3 py-2 font-medium hover:bg-gray-700"
                [ngClass]="{
                  'text-gray-300': isMobileMenu,
                  'text-white': !isMobileMenu
                }"
                aria-current="page"
                >{{ navLink.label }}</a
              >
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="gap-3 hidden mr-12 md:flex">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" placeholder="Search" pInputText />
      </span>

      @if(currentUser){
      <div class="flex items-center">
        <button
          (click)="logout()"
          class="bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          Log Out
        </button>
      </div>
      } @else {

      <div class="flex items-center bg-gray-400 rounded-md">
        <button
          routerLink="/login"
          class="text-white font-bold py-2 pl-4 rounded focus:outline-none focus:shadow-outline"
        >
          Log In
        </button>
        <span class="text-white mx-2">/</span>
        <button
          routerLink="/register"
          class="text-white font-bold py-2 pr-4 rounded focus:outline-none focus:shadow-outline"
        >
          Sign Up
        </button>
      </div>

      }
    </div>

    <div class="absolute inset-y-0 right-3 flex items-center xl:hidden">
      <!-- Mobile menu button-->
      <button
        type="button"
        (click)="toggleMobileMenu()"
        class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        aria-controls="mobile-menu"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>

        @if(isMobileMenu){
        <!--
          Icon when menu is open.

          Menu open: "block", Menu closed: "hidden"
        -->
        <svg
          class="block h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
        } @else {

        <!--
          Icon when menu is closed.

          Menu open: "hidden", Menu closed: "block"
        -->

        <svg
          class="block h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
        }
      </button>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->

  @if(isMobileMenu){
  <div class="xl:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      @for (navLink of navLinks; track $index) {
      <a
        [routerLink]="['', navLink.path]"
        routerLinkActive="bg-gray-900"
        (click)="closeMenu()"
        class="rounded-md px-3 py-2 font-medium block text-base hover:bg-gray-700 hover:text-white"
        [ngClass]="{
          'text-gray-300': isMobileMenu,
          'text-white': !isMobileMenu
        }"
        aria-current="page"
        >{{ navLink.label }}</a
      >
      }
    </div>

    <div class="flex px-3 py-2 pb-5 gap-3 md:hidden">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" placeholder="Search" pInputText />
      </span>

      @if(currentUser){
      <div class="flex items-center">
        <button
          (click)="logout()"
          class="bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          Log Out
        </button>
      </div>
      } @else {

      <div class="flex items-center bg-gray-400 rounded-md">
        <button
          routerLink="/login"
          class="text-white font-bold py-2 pl-4 rounded focus:outline-none focus:shadow-outline"
        >
          Log In
        </button>
        <span class="text-white mx-2">/</span>
        <button
          routerLink="/register"
          class="text-white font-bold py-2 pr-4 rounded focus:outline-none focus:shadow-outline"
        >
          Sign Up
        </button>
      </div>
      }
    </div>
  </div>
  }
</nav>
