<section
  class="bg-[#082A3D] overlay min-h-screen flex flex-col justify-center items-center"
>
  <div
    class="text-lg font-bold max-w-[1000px] min-w-fit text-[#FFFFFF] rounded-2xl p-4 md:p-20 mx-4 md:mx-32 text-center border bg-[#0E2431]"
  >
    <h1 class="mb-12">WORK TIME</h1>

    <div class="google-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d927758.0362127811!2d46.16304550538092!3d24.72499786026144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh%20Saudi%20Arabia!5e0!3m2!1sen!2seg!4v1710809119923!5m2!1sen!2seg"
        class="w-full h-[300px]"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <p class="leading-10 font-extralight">
      Riyadh Expo starts from October 1 ,2030 until March 31, 2030 from 4:00PM
      until 12:00AM
    </p>
  </div>
</section>

<app-footer-contact />
