@if(currentUser){ @if(currentUser.rule === "employee"){

<section class="bg-[#082A3D] relative h-[calc(100vh-96px)]">
  <div class="absolute -translate-x-1/2 -translate-y-2/3 top-1/2 left-1/2">
    <h1 class="my-10 text-4xl text-center text-white">
      Welcome, {{ currentUser.firstName }}
    </h1>

    <div
      class="flex items-center justify-center px-2 mx-auto max-w-7xl sm:px-6 lg:px-8"
    >
      <div class="flex flex-col items-center gap-6">
        <a
          routerLink="/pavilions"
          class="px-4 py-2 font-bold text-white bg-gray-400 rounded cursor-pointer focus:outline-none focus:shadow-outline"
        >
          Pavilions
        </a>
        <a
          routerLink="/facilities"
          class="px-4 py-2 font-bold text-white bg-gray-400 rounded cursor-pointer focus:outline-none focus:shadow-outline"
        >
          Facilities
        </a>

        <a
          routerLink="/show-time"
          class="px-4 py-2 font-bold text-white bg-gray-400 rounded cursor-pointer focus:outline-none focus:shadow-outline"
        >
          Show time
        </a>
      </div>
    </div>
  </div>
</section>

} } @else {

<section class="bg-[#082A3D] img relative min-h-screen">
  <div
    class="flex items-center justify-between px-2 mx-auto max-w-7xl sm:px-6 lg:px-8"
  >
    <div class="flex items-center flex-shrink-0 cursor-pointer" routerLink="/">
      <img class="block w-auto h-24" src="assets/logo.png" alt="Your Company" />
    </div>

    <div class="flex items-center bg-gray-400 rounded-md">
      <button
        routerLink="/login"
        class="py-2 pl-4 font-bold text-white rounded focus:outline-none focus:shadow-outline"
      >
        Log In
      </button>
      <span class="mx-2 text-white">/</span>
      <button
        routerLink="/register"
        class="py-2 pr-4 font-bold text-white rounded focus:outline-none focus:shadow-outline"
      >
        Sign Up
      </button>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center h-[calc(100vh-96px)]">
    <div
      class="text-lg font-bold max-w-[805px] text-[#FFFFFF] rounded-2xl p-8 md:p-20 mx-4 md:mx-32 text-center border bg-[#0E2431]"
    >
      <div class="grid items-center grid-cols-1 gap-4 sm:grid-cols-3">
        <p class="col-span-1">Riyadh the world’s choice</p>
        <p class="col-span-2">
          The Kingdom of Saudi Arabia achieved victory in the bid to host World
          Expo 2030 in Riyadh, under the captivating theme, “The Era of Change:
          Together for a Foresighted Tomorrow.” Riyadh is poised to craft an
          unparalleled Expo edition that will etch an indelible mark on the
          hearts and minds of its global visitors.
        </p>
      </div>
    </div>
  </div>

  <!-- <div class="absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2">
    <button
      class="px-5 py-2 border-2 text-[#FFFFFF] font-bold rounded-md"
      (click)="loginAsGuest()"
    >
      Browse as a guest
    </button>
  </div> -->
</section>
}
