<section class="bg-[#082A3D] overlay py-9 flex justify-center items-center">
  <div
    class="text-lg font-bold w-full text-[#FFFFFF] rounded-2xl p-4 lg:p-20 mx-2 lg:mx-32 text-center border bg-[#0E2431]"
  >
    <p-carousel
      [value]="images"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="false"
    >
      <ng-template let-image pTemplate="item">
        <iframe
          class="w-full h-screen"
          [src]="sanitizeUrl(image.source)"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </ng-template>
    </p-carousel>
  </div>
</section>
