<section
  class="bg-[#082A3D] overlay py-9 min-h-screen flex flex-col justify-center items-center"
>
  <div
    class="text-lg font-bold max-w-[805px] text-[#FFFFFF] rounded-2xl p-8 md:p-20 mx-4 md:mx-32 text-center border bg-[#0E2431]"
  >
    @if(currentUser.value.rule == 'employee'){ @if(action){

    <h1 class="mb-8">@if(pavilion?.id){ Update } @else { New } Pavilion</h1>

    <form
      class="w-[15rem] md:w-[30rem] lg:w-[40rem] mx-auto"
      [formGroup]="pavilionForm"
      (ngSubmit)="submitAddPavilion(pavilionForm)"
    >
      <div class="flex flex-col gap-7">
        <div class="relative flex flex-col pt-2">
          <p-floatLabel>
            <input id="name" type="text" pInputText formControlName="name" />
            <label for="name">Name</label>
          </p-floatLabel>

          @if(pavilionForm.get('name')?.invalid &&
          pavilionForm.get('name')?.touched){
          @if(pavilionForm.get('name')?.getError('required')){

          <p-message severity="error" text="name is required"></p-message>

          } }
        </div>
        <div class="relative flex flex-col pt-2">
          <p-floatLabel>
            <input
              id="description"
              type="text"
              pInputText
              formControlName="description"
            />
            <label for="description">Description</label>
          </p-floatLabel>

          @if(pavilionForm.get('description')?.invalid &&
          pavilionForm.get('description')?.touched){
          @if(pavilionForm.get('description')?.getError('required')){

          <p-message
            severity="error"
            text="description is required"
          ></p-message>

          } }
        </div>

        <button
          type="submit"
          pButton
          pRipple
          class="flex items-center gap-3 mx-auto text-white bg-gray-400 border-0 p-button-info w-fit"
        >
          @if(loading){
          <p-progressSpinner
            styleClass="w-5 h-5"
            strokeWidth="8"
            ariaLabel="loading"
            fill="transparent"
            animationDuration="1s"
          ></p-progressSpinner>

          } @if(pavilion.id) { Update } @else { Add }
        </button>
      </div>
    </form>

    } @else {
    <h1 class="mb-16">Pavilions</h1>
    @if(pavilions.length){

    <p-table
      styleClass="h-fit mb-7"
      tableStyleClass="w-[15rem] md:w-[30rem] lg:w-[45rem] mx-auto"
      responsiveLayout="scroll"
      [value]="pavilions"
      [scrollable]="true"
      scrollHeight="flex"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pavilion>
        <tr>
          <td>{{ pavilion.name }}</td>
          <td>{{ pavilion.id }}</td>
          <td>
            <i
              (click)="deletePavilion(pavilion.id)"
              class="cursor-pointer pi pi-trash"
              style="color: red"
            ></i>
            <i
              (click)="editPavilion(pavilion)"
              class="cursor-pointer md:ml-4 pi pi-file-edit"
              style="color: blue"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
    } @else {
    <div class="text-center my-3 bg-[#0E2431] rounded-2xl">
      <p>No pavilions found</p>
    </div>
    }

    <button
      type="button"
      pButton
      pRipple
      class="flex items-center gap-3 mx-auto text-white bg-gray-400 border-0 p-button-info w-fit"
      (click)="addPavilion()"
    >
      @if(loading){
      <p-progressSpinner
        styleClass="w-5 h-5"
        strokeWidth="8"
        ariaLabel="loading"
        fill="transparent"
        animationDuration="1s"
      ></p-progressSpinner>

      } Add Pavilion
    </button>
    } } @else {
    <h1 class="mb-16">Pavilions</h1>

    <div class="grid grid-cols-1 mx-auto md:grid-cols-2 lg:grid-cols-3 gap-7">
      @for(pavilion of pavilions; track $index){
      <div class="bg-[#C0C6CA] rounded-2xl p-3 text-white">
        <a [routerLink]="['/pavilions', pavilion.name]" class="text-center">{{
          pavilion.name
        }}</a>
      </div>
      }
    </div>

    }
  </div>
</section>

<p-toast></p-toast>
