<section
  class="bg-[#082A3D] relative h-[calc(100vh-96px)] bg-no-repeat bg-cover bg-center bg-fixed z-30 flex flex-col justify-center items-center"
  style="background-image: url(../../../assets/bottom-left.jpg)"
>
  <div class="absolute top-0 w-full h-full bg-white opacity-25"></div>

  <div
    class="relative z-40 text-lg font-bold max-w-[805px] text-[#FFFFFF] rounded-2xl p-20 mx-32 text-center border bg-[#0E2431]"
  >
    <h1 class="mb-16">About Us</h1>

    <p class="leading-10">
      Expo World team, have created the website to help visitors during their
      trip to Expo Riyadh have a smooth and enjoyable trip without trouble .
    </p>
  </div>
</section>

<app-footer-contact />
