<section
  class="bg-[#082A3D] overlay min-h-screen flex flex-col justify-center items-center"
>
  <div
    class="text-lg font-bold max-w-[805px] text-[#FFFFFF] rounded-2xl p-8 md:p-20 mx-4 md:mx-32 text-center border bg-[#0E2431]"
  >
    <h1 class="mb-16">About Us</h1>

    <p class="leading-10">
      Expo World team, have created the website to help visitors during their
      trip to Expo Riyadh have a smooth and enjoyable trip without trouble .
    </p>
  </div>
</section>

<app-footer-contact />
