<section
  class="bg-[#082A3D] min-h-screen flex flex-col gap-6 justify-center items-center"
>
  <div
    class="flex items-center flex-shrink-0 mb-5 cursor-pointer"
    routerLink="/"
  >
    <img class="block w-auto h-24" src="assets/logo.png" alt="Your Company" />
  </div>

  @if(user){

  <h1 class="text-4xl text-center text-white">
    @if(user=== 'employee'){ Staff } Login
  </h1>

  <form
    class="flex flex-col w-full max-w-2xl p-3 gap-7"
    (ngSubmit)="handleLogin(loginForm)"
    [formGroup]="loginForm"
  >
    <div class="relative flex flex-col pt-2">
      <p-floatLabel>
        <input id="email" type="email" pInputText formControlName="email" />
        <label for="email">Email</label>
      </p-floatLabel>

      @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
      @if(loginForm.get('email')?.getError('email')){

      <p-message severity="error" text="Invalid email format"></p-message>

      } @else if (loginForm.get('email')?.getError('required')){
      <p-message severity="error" text="email is required"></p-message>

      } }
    </div>

    <div class="relative flex flex-col pt-2">
      <p-floatLabel>
        <input
          id="password"
          type="password"
          pInputText
          formControlName="password"
        />
        <label for="password">Password</label>
      </p-floatLabel>

      @if(loginForm.get('password')?.invalid &&
      loginForm.get('password')?.touched){
      @if(loginForm.get('password')?.getError('required')){

      <p-message severity="error" text="password is required"></p-message>

      } @else if (loginForm.get('password')?.getError('pattern')) {

      <p-message
        severity="error"
        text="password must contain at least one uppercase, one lowercase, one number and one special character"
      ></p-message>
      } }
    </div>

    <button
      type="submit"
      pButton
      pRipple
      class="flex items-center gap-3 mx-auto text-white bg-gray-400 border-0 p-button-info w-fit"
    >
      @if(loading){
      <p-progressSpinner
        styleClass="w-5 h-5"
        strokeWidth="8"
        ariaLabel="loading"
        fill="transparent"
        animationDuration="1s"
      ></p-progressSpinner>

      } Login
    </button>

    <div class="flex flex-col items-center justify-center gap-3">
      <a [routerLink]="['/forgot-password']" class="text-white hover:underline"
        >Forgot password?</a
      >

      @if(user === 'visitor'){
      <p class="mb-5 text-center text-white">
        Don't have an account yet?
        <a class="underline" routerLink="/register">Register now!</a>
      </p>
      }
    </div>
  </form>

  } @else {
  <h1 class="text-4xl text-center text-white">Login</h1>
  <div
    class="flex flex-col items-center justify-center mt-16 md:flex-row gap-9 md:gap-28"
  >
    <button
      pButton
      label="Visitors"
      (click)="loginAsVisitor()"
      class="text-white bg-gray-400 border-0"
      severity="secondary"
    ></button>

    <button
      pButton
      label="Employee"
      (click)="loginAsEmployee()"
      class="text-white bg-gray-400 border-0"
      severity="secondary"
    ></button>
  </div>

  }
</section>

<p-toast></p-toast>
