<section
  class="bg-[#082A3D] overlay min-h-[calc(100vh-98px)] flex flex-col justify-center items-center"
>
  <div
    class="text-lg font-bold max-w-[805px] text-[#FFFFFF] rounded-2xl p-8 md:p-20 mx-4 md:mx-32 text-center border bg-[#0E2431]"
  >
    <h1 class="my-6 capitalize">
      {{ facilityName }}
    </h1>

    <p-table
      styleClass="h-fit mb-7"
      tableStyleClass="w-[15rem] md:w-[30rem] lg:w-[40rem] mx-auto"
      responsiveLayout="scroll"
      [value]="facility"
      [scrollable]="true"
      scrollHeight="flex"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <th>status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-facilityItem>
        <tr>
          <td>{{ facilityItem.name }}</td>
          <td>{{ facilityItem.type }}</td>
          <td>{{ facilityItem.description }}</td>
          <td>{{ facilityItem.status }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
