/* You can add global styles to this file, and also import other style files */

@layer tailwind-base, primeng, tailwind-utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.p-inputtext,
.p-password input {
  width: 100%;
  color: white;
}

.p-float-label > label {
  color: white;
}

.p-float-label input:focus ~ label {
  top: -0.5rem;
}

.p-inline-message {
  width: 100%;
  margin-top: 5px;
  justify-content: start;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.overlay,
.img {
  position: relative;
  background-image: url("./assets/bottom-left.jpg");
  background-attachment: fixed;
  z-index: 30;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.25;
  z-index: -1;
}
