<section
  class="bg-[#082A3D] overlay py-9 min-h-screen flex flex-col justify-center items-center"
>
  <div
    class="text-lg font-bold max-w-[805px] text-[#FFFFFF] rounded-2xl p-8 md:p-20 mx-4 md:mx-32 text-center border bg-[#0E2431]"
  >
    <h1 class="mb-8">Tickets</h1>

    @if(currentUser.value.rule == 'visitor'){

    <div class="flex flex-col justify-between gap-4 md:flex-row">
      <a
        (click)="bookTicket()"
        pButton
        pRipple
        class="flex items-center gap-3 mx-auto my-4 text-white bg-gray-400 border-0 p-button-info w-fit"
      >
        Book Tickets
      </a>
      <a
        (click)="viewTicket()"
        pButton
        pRipple
        class="flex items-center gap-3 mx-auto my-4 text-white bg-gray-400 border-0 p-button-info w-fit"
      >
        View Ticket
      </a>
    </div>

    } @else { @if (tickets?.length) {

    <h3 class="my-4 text-start">All Users tickets</h3>
    <p-table
      styleClass="h-fit mb-7"
      tableStyleClass="w-[15rem] md:w-[30rem] lg:w-[45rem] mx-auto rounded-md bg-[#F5F5F5]/70"
      responsiveLayout="scroll"
      [value]="tickets"
      [scrollable]="true"
      scrollHeight="flex"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>User</th>
          <th>Ticket Id</th>
          <th>Tickets</th>
          <th>Total Price</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket>
        <tr>
          <td class="capitalize">
            {{ ticket.user.firstName }} {{ ticket.user.lastName }}
          </td>
          <td>{{ ticket.hashedTickets }}</td>
          <td>
            @for (ticket of ticket.tickets; track $index) {
            <span *ngIf="ticket.quantity">
              {{ ticket.ticketType }}: {{ ticket.quantity }}
            </span>

            }
          </td>
          <td>{{ ticket.totalPrice }} S.R</td>

          <td>
            <i
              (click)="deleteTickets(ticket.ticketId)"
              class="cursor-pointer pi pi-trash"
              style="color: red"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>

    } @else {
    <div class="text-center my-3 bg-[#0E2431] rounded-2xl">
      <p>No tickets found</p>
    </div>
    } }
  </div>
</section>

<app-footer-contact />

<p-toast></p-toast>
