<section
  class="bg-[#082A3D] overlay py-9 h-[calc(100vh-98px)] flex flex-col justify-center items-center"
>
  <div
    class="text-lg font-bold max-w-[805px] text-[#FFFFFF] rounded-2xl p-8 md:p-20 mx-4 md:mx-32 text-center border bg-[#0E2431]"
  >
    <h1 class="mb-8">Tickets</h1>

    @if(currentUser.value.rule == 'visitor'){

    <div class="flex flex-col justify-between gap-4 md:flex-row">
      <a
        (click)="bookTicket()"
        pButton
        pRipple
        class="flex items-center gap-3 mx-auto my-4 text-white bg-gray-400 border-0 p-button-info w-fit"
      >
        Book Tickets
      </a>
      <a
        (click)="viewTicket()"
        pButton
        pRipple
        class="flex items-center gap-3 mx-auto my-4 text-white bg-gray-400 border-0 p-button-info w-fit"
      >
        View Ticket
      </a>
    </div>

    }
  </div>
</section>

<app-footer-contact />

<p-toast></p-toast>
