<section
  class="bg-[#082A3D] min-h-screen flex flex-col gap-6 justify-center items-center"
>
  <div
    class="flex items-center flex-shrink-0 mb-5 cursor-pointer"
    routerLink="/"
  >
    <img class="block w-auto h-24" src="assets/logo.png" alt="Your Company" />
  </div>

  <h1 class="text-4xl text-center text-white">Rest your Password</h1>

  <form
    class="flex flex-col w-full max-w-2xl p-3 gap-7"
    (ngSubmit)="handleResetPassword(resetForm)"
    [formGroup]="resetForm"
  >
    <div class="relative flex flex-col pt-2">
      <p-floatLabel>
        <input
          id="password"
          type="password"
          pInputText
          formControlName="newPassword"
        />
        <label for="password">Password</label>
      </p-floatLabel>

      @if(resetForm.get('newPassword')?.invalid &&
      resetForm.get('newPassword')?.touched){
      @if(resetForm.get('newPassword')?.getError('required')){

      <p-message severity="error" text="Password is required"></p-message>

      } @else if (resetForm.get('newPassword')?.getError('pattern')) {

      <p-message
        severity="error"
        text="Password must contain at least one uppercase, one lowercase, one number and one special character"
      ></p-message>
      } }
    </div>

    <div class="relative flex flex-col pt-2">
      <p-floatLabel>
        <input
          id="confirm_password"
          type="password"
          pInputText
          formControlName="confirmPassword"
        />
        <label for="confirm_password">Confirmation</label>
      </p-floatLabel>

      @if(resetForm.get('confirmPassword')?.invalid &&
      resetForm.get('confirmPassword')?.touched){
      @if(resetForm.get('confirmPassword')?.getError('required')){

      <p-message
        severity="error"
        text="confirm password is required"
      ></p-message>

      } @else if (resetForm.get('confirmPassword')?.getError('pattern')) {

      <p-message
        severity="error"
        text="confirm password must contain at least one uppercase, one lowercase, one number and one special character"
      ></p-message>
      } @else if (resetForm.get('confirmPassword')?.getError('notMatch')) {

      <p-message severity="error" text="Passwords do not match"></p-message>
      } }
    </div>

    <button
      type="submit"
      pButton
      pRipple
      class="flex items-center gap-3 mx-auto text-white bg-gray-400 border-0 p-button-info w-fit"
    >
      @if(loading){
      <p-progressSpinner
        styleClass="w-5 h-5"
        strokeWidth="8"
        ariaLabel="loading"
        fill="transparent"
        animationDuration="1s"
      ></p-progressSpinner>

      } Reset Password
    </button>
  </form>
</section>

<p-toast></p-toast>
